


*.tfstate
.tfstate.backup
.terraform.lock.hcl
override.tf
override.tf.json
terraform.tfvars
*.auto.tfvars
**/.terraform/*


lambda/bedrock-asset-processor.zip
bedrock-asset-processor.zip

Python

pycache/
*.py[cod]
*.so
.Python
env/
venv/

OS files

.DS_Store
Thumbs.db

IDE

.idea/
.vscode/
*.swp
*.swo

Secrets

credentials
*.pem
*.key

.github/workflows/terraform-destroy.yaml

kubeconfig
*.kubeconfig
